@model C2G.Models.ViewModels.ReservaViewModel
@{
    ViewBag.Title = "AgregarReserva";
}

<h2>AgregarReserva</h2>

<div class="container mb-5 p-4">
    <h3>@ViewBag.Title</h3>

    @using (Html.BeginForm(("AgregarReserva", "Reservas", FormMethod.Post)))
    {

        <div class="row">
            <div id="ColumnaIzquierda" class="col-md-6">
                <div style="padding: 1em;">
                    @Html.LabelFor(d => d.Placa)
                    @Html.TextBoxFor(d => d.Placa, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Placa, null, new { @class = "text-danger" })
                </div>

                <div style="padding: 1em;">
                    @Html.LabelFor(d => d.Marca)
                    @Html.TextBoxFor(d => d.Marca, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Marca, null, new { @class = "text-danger" })
                </div>

                <div style="padding: 1em;">
                    @Html.LabelFor(d => d.Modelo)
                    @Html.TextBoxFor(d => d.Modelo, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Modelo, null, new { @class = "text-danger" })
                </div>

                <div style="padding: 1em;">
                    @Html.LabelFor(d => d.Transmision)
                    @Html.TextBoxFor(d => d.Transmision, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Transmision, null, new { @class = "text-danger" })
                </div>

                <div style="padding: 1em;">
                    @Html.LabelFor(d => d.Combustible)
                    @Html.TextBoxFor(d => d.Combustible, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Combustible, null, new { @class = "text-danger" })
                </div>

            </div>

            <div id="ColumnaDerecha" class="col-md-6 form">
                <div style="padding: 1em;">
                    @Html.LabelFor(d => d.Color)
                    @Html.TextBoxFor(d => d.Color, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Color, null, new { @class = "text-danger" })
                </div>

                <div style="padding: 1em; display: flex" class="align-content-between">
                    <div class="align-content-between mr-4">
                        @Html.LabelFor(d => d.Anio)
                        @Html.EditorFor(d => d.Anio, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.Anio, null, new { @class = "text-danger" })
                    </div>
                    <div class="text-right form">
                        @Html.LabelFor(d => d.Rack)
                        @Html.EditorFor(d => d.Rack, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.Rack, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div style="padding: 1em;">
                    @Html.LabelFor(d => d.Tipo)
                    @Html.TextBoxFor(d => d.Tipo, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Tipo, null, new { @class = "text-danger" })
                </div>


                <div style="padding: 1em;">
                    @Html.LabelFor(d => d.Lugar)
                    @Html.TextBoxFor(d => d.Lugar, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Lugar, null, new { @class = "text-danger" })
                </div>

                <div style="padding: 1em;">
                    @Html.LabelFor(d => d.Estado)
                    @Html.TextBoxFor(d => d.Estado, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Estado, null, new { @class = "text-danger" })
                </div>

                <div class="text-right">
                    <input type="submit" name="AgregarAuto" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div class="mb-5 text-success">
        <span><i class="fas fa-chevron-circle-left"></i> </span>  @Html.ActionLink("Volver", "Index")
    </div>
</div>